{include file="public/toper"}
<div class="layui-card">
    <div class="layui-card-header">收入记账 </div>
    <div class="layui-card-body">
        <form class="layui-form" action="" lay-filter="filterIncomeForm" id="incomeForm">
            <div class="layui-form-item">
                <label class="layui-form-label">收入金额</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="number" name="incomeAmount" id="incomeAmount" lay-verify="required"
                        autocomplete="off">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">收入类型</label>
                    <div class="layui-input-inline">
                        <select name="incomeType" lay-verify="required">

                            <option value="">请选择收入类型</option>
                            <option value="生活用品">生活用品</option>
                            <option value="家用电器">家用电器</option>
                            <option value="电子产品">电子产品</option>
                        </select>
                    </div>
                    <label class="layui-form-label">生意伙伴</label>
                    <div class="layui-input-inline">
                        <select name="bussinessPartner" lay-verify="required">

                            <option value="">请选择生意伙伴</option>
                            {foreach $partnerNameList as $key=> $value}
                            <option value="{$key}">{$value}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">收入账户</label>
                    <div class="layui-input-inline">
                        <select name="incomeAccount" lay-verify="required">
                            <option value="">请选择账户</option>
                            {foreach $accountNameList as $key=> $value}
                            <option value="{$key}">{$value}</option>
                            {/foreach}
                        </select>
                    </div>
                    <label class="layui-form-label">收款日期</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" id="incomeDateStr" name="incomeDateStr" lay-verify="required|date"
                            placeholder="年-月-日" autocomplete="off">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">业务项目</label>
                    <div class="layui-input-inline">
                        <select name="project" lay-verify="required" lay-search="" id="project" lay-filter="projectFilter">
                            <option value="">请选择项目</option>
                            {foreach $projectNameList as $key=> $value}
                            <option value="{$key}">{$value}</option>
                            {/foreach}
                        </select>
                    </div>
                    <label class="layui-form-label">单号</label>
                    <div class="layui-input-inline">
                        <input class="layui-input layui-bg-gray" name="number" id="number" disabled placeholder="单号自动生成">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">经办人</label>
                    <div class="layui-input-inline">
                        <select name="agent" lay-verify="required">
                            <option value="">请选择经办人</option>
                            {foreach $agentNameList as $key => $value}
                            <option value="{$key}">{$value}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">说明</label>
                <div class="layui-input-block" style="width:30%">
                    <textarea class="layui-textarea" name="note" id="note"></textarea>
                </div>

            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="filterSubmit">确定</button>
                    <button class="layui-btn layui-btn-normal" type="reset">重置</button>
                </div>
            </div>

        </form>
    </div>
</div>
<script>
    layui.use(['form', 'layer', 'laydate'], function () {
        var $ = layui.$
            , form = layui.form
            , layer = layui.layer
            , laydate = layui.laydate
            ;
        laydate.render({
            elem: '#incomeDateStr'
        });

        form.on('submit(filterSubmit)', function (obj) {
            var data = obj.field;
            // layer.alert(JSON.stringify(data));
            $.post('{:url("book/incomeAccount")}', data, function (res) {
                if (res == 1) {
                    layer.msg("记账成功");
                    $('#incomeForm')[0].reset();
                }
            });
            return false;
        });
        form.on('select(projectFilter)', function (obj) {
            console.log(JSON.stringify(obj));
            var value = obj.value;
            var valueArray = value.split("-");
            var method = valueArray[2];
            console.log(method);
            $("#number").val("12346");
        });

    });
</script> {include file="public/footer"}