{include file="public/toper"}
<div class="layui-card">
    <div class="layui-card-header">已归档的项目 </div>
    <div class="layui-card-body">
        <div class="layui-btn-group">
            <a target="main" class="layui-btn" href="<?php echo url( 'project/add')?> ">新建项目</a>
        </div>

        <table class="layui-table" id="tableUnderway" lay-filter="filterUnderwayTable"> </table>
        <script type="text/html" id="barDetail">
            <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
        </script>
    </div>

</div>
<script>
    layui.use(['table'], function () {
        var $ = layui.$
            , table = layui.table
            ;

        table.render({
            elem: '#tableUnderway'
            , url: '/index/project/itemList/status/1'
            , cols: [[
                { field: 'id', title: "序号", sort: true }
                , { field: 'name', title: "项目名称", }
                , { field: 'start_time_str', title: "开始时间", sort: true }
                , { field: 'type_str', title: "项目类型", }
                , { field: 'leader', title: "负责人", }
                , { fiexed: 'right', title: "操作", align: "center", toolbar: '#barDetail' }
            ]]
            , page: true
        });
    });
</script> {include file="public/footer"}