{include file="public/toper"}
<div class="layui-card">
    <div class="layui-card-header">进行中的项目 </div>
    <div class="layui-card-body">
        <div class="layui-btn-group">
            <button class="layui-btn" data-type="add">新建项目</button>
        </div>

        <table class="layui-table" id="tableUnderway" lay-filter="filterUnderwayTable"> </table>
        <script type="text/html" id="barDetail">
            <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
        </script>
    </div>

</div>
<script>
    layui.use(['table'], function () {
        var $ = layui.$
            , table = layui.table
            ;

        table.render({
            elem: '#tableUnderway'
            , url: ''
            , width: 600
            , height: 500
            , cols: [[
                { field: 'id', title: '序号', width: 80, sort: true }
                , { field: 'name', title: '项目名称', width: 120 }
                , { field: 'startDate', title: '开始时间', width: 120, sort: true }
                , { field: 'type', title: '项目类型', width: 100 }
                , { field: '', title: '负责人', width: 100 }
                , { fiexed: 'right', title: '操作', width: 60, align: 'center', toolbar: '#barDetail' }
            ]]
            , page: true
        });
    });
</script> {include file="public/footer"}