{include file="public/toper"}
<div class="layui-card">
    <div class="layui-card-body ">
        <form class="layui-form" method="POST" id="loginForm">
            <div class="layui-form-item">
                <label class="layui-form-label layui-icon layui-icon-username "><i class="fa fa-user"></i></label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="name" id="name" autocomplete="off" placeholder="用户名">
                </div>

            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-icon layui-icon-password"><i class="fa fa-unlock-alt"></i></label>
                <div class="layui-input-inline">
                    <input type="password" class="layui-input" name="password" id="password" autocomplete="off">
                </div>

            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="filterSubmit">登入</button>
                </div>

            </div>

        </form>
    </div>
    <script>
        layui.use(['form', 'layer'], function () {
            var $ = layui.$
                , form = layui.form
                , layer = layui.layer
                ;
            form.on('submit(filterSubmit)', function (obj) {
                var data = obj.field;
                $.ajax({
                    url: "{:url('index/common/login1')}"
                    , data: $('#loginForm').serialize()
                    , type: 'post'
                    , async: false
                    , success: function (res) {
                        layer.msg(res.msg);
                        console.log(JSON.stringify(res));
                        if (res.code == 1) {
                            setTimeout(function () {
                                location.href = res.url;
                            }, 1500);
                        }
                    }
                });
                return false;
            });
        });
    </script>
    {include file="public/footer"}