<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>财务记账通系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script type="text/javascript" src="/static/layui/layui.js"></script>
</head>

<body>

    <script>
        layui.use(['element', 'layer'], function () {
            var element = layui.element
                , $ = layui.$
                , layer = layui.layer
                ;
            $('#logout').click(function () {
                layer.confirm('真的要退出吗？', { icon: 3, title: '提示', anim: 2 }, function (index) {
                    $.ajax({
                        url: "{:url('index/common/logout')}"
                        , success: function (res) {
                            layer.msg(res.msg);
                            if (res.code == 1) {
                                setTimeout(function () {
                                    location.href = res.url;
                                }, 1500);
                            }
                        }
                    });
                });
            });

        });
    </script>