{include file="public/toper"}
<div class="layui-card">
    <div class="layui-card-header">用户管理
    </div>
    <div class="layui-card-body">

        <div class="operate">
            <div class="layui-inline">
                <input class="layui-input" placeholder="请输入关键字" name="searchKey" id="searchKey">
            </div>
            <div class="layui-btn" data-type="search">搜索</div>
            <div class="layui-btn" id="add">添加</div>
        </div>
        <table class="layui-table" id="userTable" lay-filter="filterUserTable"></table>
    </div>

</div>
<script>
    layui.use(['table', 'form', 'layer'], function () {
        var $ = layui.$
            , table = layui.table
            , form = layui.form
            ;

        $('#add').click(function () {
            layer.open({
                type: 1
                , title: "添加用户"
                , content: ' <div class="layui-card"><div class="layui-card-body"><form class="layui-form" id="userForm"><div class="layui-form-item"><label class="layui-form-label">用户名</label><div class="layui-input-inline"><input class="layui-input" autocomplete="off" type="text" name="name" id="name" lay-verify="required"></div></div><div class="layui-form-item"><label class="layui-form-label">密码</label><div class="layui-input-inline"><input class="layui-input" type="password" autocomplete="off" name="password" id="password" lay-verify="required"></div></div><div class="layui-form-item"><div class="layui-input-block"><button class="layui-btn" lay-submit lay-filter="filterSubmit">确认</button><button class="layui-btn" id="cancel"  >取消</button></div></div></form></div></div>'
                , success: function (layero, index) {
                    form.on('submit(filterSubmit)', function (obj) {
                        var data = obj.field;
                        // layer.alert(JSON.stringify(data));
                        $.post('{:url("index/setting/addUser")}', data, function (res) {
                            if (res == 1) {
                                layer.close(index);
                                layer.msg("添加成功");
                                table.reload('userTable', {
                                    page: {
                                        curr: 1
                                    }
                                });
                            } else {
                                layer.close("添加失败");
                                return false;
                            }
                        });
                    });
                    $('#cancel').click(function () {
                        layer.close(index);
                        return false;
                    });
                }
            });
        });
        table.render({
            elem: '#userTable'
            , url: '/index/setting/userList'
            , cols: [[
                { field: 'id', title: "序号", sort: true }
                , { field: "name", title: "用户名" }
                , { field: "create_time", title: "创建时间", sort: true }
            ]]
            , page: true
            ,limit:10
        });

    });
</script>
{include file="public/footer"}